* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap");

.about {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: calc(100% - 1rem);
  align-items: center;
  color: var(--text-light);
  padding: 1rem;
  gap: 4rem;
}

h2 {
  font-family: "Nunito Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}
.project-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
.project-info {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: "Nunito Sans", sans-serif;
  font-weight: 400;
  font-size: 20px;
}

/*================================== PROFILE ================================== */
.profile-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
.profile-section {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4rem;
  width: 60rem;
}
.profile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: var(--bg-light);
  box-shadow: var(--deselected-light);
  color: var(--text-light);
  height: 23rem;
  width: 17.3rem;
  gap: 1.3rem;
  border: var(--border-light);
  border-radius: 10px;
}
.profile.dark {
  background: var(--bg-dark);
  box-shadow: var(--deselected-dark);
  color: var(--text-dark);
  border: var(--border-dark);
}
.circle {
  background: #dde1e7;
  height: 11rem;
  width: 11rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  box-shadow: inset -5px -5px 9px rgba(255, 255, 255, 0.45),
    inset 5px 5px 9px rgba(94, 104, 121, 0.3);
}
.circle::after {
  content: "";
  position: absolute;
  height: 90%;
  width: 90%;
  background-color: transparent;
  border-radius: 50%;
  box-shadow: inset -5px -5px 9px rgba(255, 255, 255, 0.45),
    inset 5px 5px 9px rgba(94, 104, 121, 0.3);
}
.photo2 {
  width: 9rem;
  height: auto;
}
.photo1,
.photo3 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 9rem;
  height: auto;
  padding-left: 0.5rem;
  padding-top: 0.5rem;
}
.profile-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.1rem;
  font-family: "Nunito Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}
.name {
  font-size: 25px;
}
.role {
  font-family: "Nunito Sans", sans-serif;
  font-weight: 600;
}
.icons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2.5rem;
}
.icons > img {
  padding: 0.5rem;
  border-radius: 10px;
  width: 3rem;
  height: auto;
}
.icons > img:hover {
  background: var(--bg-light);
  box-shadow: var(--selected-light);
  border: 3px solid #e8e8e8;
}
.icons > img.dark:hover {
  background: var(--bg-dark);
  box-shadow: var(--selected-dark);
  border: 3px solid #212121;
}
.team-name {
  width: 18rem;
  height: auto;
}
.team-container {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.line {
  width: 300px;
  height: 6px;
  background-color: var(--bg-light);
  border-radius: 10px;
  box-shadow: var(--deselected-light);
  margin-bottom: 2rem;
}
.line.dark {
  background-color: var(--bg-dark);
  box-shadow: var(--deselected-dark);
}

/*================================== KEY FEATURES ================================== */
.features-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
.features-info {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8rem;
  background-color: var(--bg-light);
  box-shadow: var(--deselected-light);
  border: var(--border-light);
  border-radius: 10px;
  width: 60rem;
  height: 11rem;
  font-family: "Nunito Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
}
.features-info.dark {
  background-color: var(--bg-dark);
  box-shadow: var(--deselected-dark);
  border: var(--border-dark);
}
.feature {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: auto;
  gap: 1rem;
}
.feature-icon {
  width: 3rem;
  height: auto;
}
.icon-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 5rem;
  height: 5rem;
  box-shadow: inset 5px 5px 9px #bebebe, inset -5px -5px 9px #ffffff;
  border-radius: 100px;
}
.icon-container.dark {
  box-shadow: inset 5px 5px 9px #15140e, inset -5px -5px 9px #2b281c;
}
