.Dashboard {
  display: grid;
  grid-template-columns: 1fr 1fr; /* Two equal-sized columns */
  grid-template-rows: auto auto auto; /* Three rows: auto-sized */
  grid-template-areas:
    "flight flight" /* Flight takes up the entire first row */
    "graph delay" /* Graph and Delay share the second row */
    "departure destination"; /* Departure and Destination share the third row */
  gap: 2rem;
  padding: 1%;
  height: 100vh;
  width: auto;
}

.flight-planner {
  grid-area: flight;
}

.delay {
  grid-area: delay;
  background: var(--bg-light);
}

.graph {
  grid-area: graph;
}

.departure {
  grid-area: departure;
}

.destination {
  grid-area: destination;
}
