.Dashboard {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto auto;
  grid-template-areas:
    "flight flight"
    "cost delay"
    "departure destination";
  gap: 2rem;
  padding: 1%;
  height: 100vh;
  width: auto;
}

.flight-planner {
  grid-area: flight;
}

.delay {
  grid-area: delay;
  background: var(--bg-light);
}

.cost {
  grid-area: cost;
}

.departure {
  grid-area: departure;
}

.destination {
  grid-area: destination;
}
