.flight-planner {
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--bg-light);
  box-shadow: var(--deselected-light);
  width: 63rem;
  height: 100%;
  border-radius: 10px;
  padding: 1rem;
}
.flight-planner.dark {
  background-color: var(--bg-dark);
  color: var(--text-dark);
  box-shadow: var(--deselected-dark);
}
.flight-planner-form {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  font-family: "Nunito Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}
.flight-planner-form.dark {
  background-color: var(--bg-dark);
  color: var(--text-dark);
  box-shadow: var(--deselected-dark);
}
.flight-planner-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
}

.departure-select {
  width: 12rem;
}
.trip-details {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 30rem;
  gap: 1rem;
  font-size: 15px;
}
.PlaneIcon {
  width: 4rem;
  height: auto;
}
.destination-select {
  width: 12rem;
}
.flight-planner-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
}
.predict {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
/* Select Icons */
.flight-planner.dark .departure-select .MuiInputAdornment-root svg,
.flight-planner.dark .destination-select .MuiInputAdornment-root svg,
.flight-planner.dark .date-select .MuiInputAdornment-root svg {
  color: #ffffff; /* White color for dark mode */
}
/* Select Underline */
.flight-planner.dark .MuiInput-underline:before {
  border-bottom: 1px solid #ffffff; /* White underline for dark mode */
}
.flight-planner.dark .MuiInput-underline:after {
  border-bottom: 2px solid #ffffff; /* Thicker underline on focus */
}

/* Select Value */
.flight-planner.dark .MuiInputBase-input {
  color: #ffffff; /* White text for input values */
}

.flight-planner.dark .Mui-disabled {
  color: grey;
}
/* Select Header */
.flight-planner.dark label {
  color: grey;
}

/* Date Outline */
.flight-planner.dark .MuiOutlinedInput-notchedOutline {
  border-color: #ffffff; /* White outline for dark mode */
}
.flight-planner.dark
  .MuiOutlinedInput-root.Mui-focused
  .MuiOutlinedInput-notchedOutline {
  border-color: #ffffff; /* White outline when focused */
}
/* Melbourne Default Value */
.flight-planner.dark .departure-select .MuiInputBase-input.Mui-disabled {
  -webkit-text-fill-color: #ffffff !important; /* Force grey text color */
}
/* ------------------------ */
.flight-planner.dark .destination-select .MuiInputLabel-root.Mui-error {
  color: #ff1744 !important; /* Red label for error */
}
.flight-planner.dark .destination-select .MuiInput-underline:after {
  border-bottom-color: #ff1744 !important; /* Red underline when focused */
}

.flight-planner.dark .destination-select .MuiInput-underline:before {
  border-bottom-color: #ffffff !important; /* White underline when not focused */
}

.flight-planner.dark .MuiFormHelperText-root {
  background-color: var(--bg-dark) !important;
  color: grey !important;
}
.flight-planner.dark .MuiFormHelperText-root.Mui-error {
  color: #ff1744 !important; /* Red color for error message */
}
