@import url("https://fonts.googleapis.com/css2?family=REM:ital,wght@0,100..900;1,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  /* Light Theme Variables */
  --bg-light: #e8e8e8;
  --text-light: #000;
  --selected-light: inset 6px 6px 12px #b5b5b5, inset -6px -6px 12px #ffffff,
    6px 6px 12px #b5b5b5, -6px -6px 12px #ffffff;
  --deselected-light: 6px 6px 12px #b5b5b5, -6px -6px 12px #ffffff;
  --border-light: 0.5px solid #e4d1d1;

  /* Dark Theme Variables */
  --bg-dark: #212121; /* Dark mode background */
  --text-dark: #e8e8e8; /* Text color for dark mode */
  --selected-dark: inset 7px 7px 14px #15140e, inset -7px -7px 14px #2b281c,
    7px 7px 14px #15140e, inset -7px -7px 14px #2b281c, 7px 7px 14px #15140e,
    -7px -7px 14px #2b281c;
  --deselected-dark: 7px 7px 14px #15140e, -7px -7px 14px #2b281c;
  --border-dark: 0.5px solid #15140e;
}

.sidebar {
  background-color: var(--bg-light);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border-radius: 20px;
  padding: 0.2rem 1rem 1rem;
  padding-bottom: 5rem;
  width: 14rem;
}
.sidebar a {
  color: inherit;
  text-decoration: none;
}

.sidebar a:hover {
  text-decoration: underline; /* Optional hover effect */
}
.logo {
  width: 2.5rem;
  height: auto;
}
.skylytics {
  font-family: "REM", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-size: 26px !important;
}
/*================================ SIDEBAR TOP ================================*/
.sidebar-top {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.sidebar-top div {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  width: 12rem;
}

/*================================ SIDEBAR MIDDLE ================================*/
.sidebar-middle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  width: 100%;
}

.sidebar-middle div {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  background: var(--bg-light);
  box-shadow: var(--deselected-light);
  width: 100%;
  width: 12rem;
  height: 3rem;
  cursor: pointer;
}

.sidebar-middle div.selected {
  background: var(--bg-light);
  box-shadow: var(--selected-light);
  border: 3.5px solid #e8e8e8;
}
.sidebar-item {
  display: flex;
  align-items: center;
  gap: 2rem;
  width: 100%;
}
.sidebar-icon {
  margin-left: 2rem;
}
.sidebar-text {
  flex-grow: 1;
  text-align: left;
}

/*================================ SIDEBAR BOTTOM ================================*/
.sidebar-bottom {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  align-items: center;
  gap: 2rem;
}

.sidebar-bottom .icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  background: var(--bg-light);
  box-shadow: var(--deselected-light);
  width: 3rem;
  height: 3rem;
  cursor: pointer;
  border: 2px solid #e8e8e8;
}

.light-mode.selected,
.icon-container.selected {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  background: var(--bg-light);
  box-shadow: var(--selected-light);
}

/*============================== DARK MODE STYLES ==============================*/
.sidebar.dark {
  background-color: #1e1e1e;
  color: var(--text-dark);
}
.sidebar.dark .sidebar-middle div {
  color: var(--text-dark);
  background: #201e15;
  box-shadow: var(--deselected-dark);
}

.sidebar.dark .sidebar-middle div.selected {
  background: #201e15;
  box-shadow: var(--selected-dark);
  border: 3.5px solid #212121;
}

.sidebar.dark .sidebar-bottom .icon-container {
  background: #201e15;
  box-shadow: var(--deselected-dark);
  border: var(--border-dark);
  border: 2px solid #201e15;
}

.sidebar.dark .light-mode.selected,
.sidebar.dark .icon-container.selected {
  background: #201e15;
  box-shadow: var(--selected-dark);
  border: var(--border-dark);
}
/*===================*/

.light-mode.glow {
  fill: #ffcc00;
  transition: fill 0.7s;
}

.dark-mode.glow {
  fill: #5956d6;
  transition: fill 0.7s;
}
/* Light Mode Icon Styles */
.light-mode {
  color: var(--bg-dark);
}

/* Dark Mode Icon Styles */
.dark-mode {
  color: var(--bg-light);
}
