.analytics {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto auto;
  grid-template-areas:
    "bar pie"
    "bar-info pie-info"
    "cost delay"
    "cost-info delay-info"
    "departure destination"
    "departure-info destination-info";
  gap: 2rem;
  padding: 1%;
  height: 100vh;
  width: auto;
  overflow-y: auto;
  align-items: start;
  font-family: "Nunito Sans", sans-serif;
}

.bar {
  grid-area: flight;
}

.pie {
  grid-area: delay;
  background: var(--bg-light);
}

.cost {
  grid-area: cost;
}
.cost-info p {
  margin-top: 0.5rem;
}
.cost-info p {
  text-align: center;
  margin-top: 0.5rem;
}

.departure {
  grid-area: departure;
}

.departure-info p {
  margin-top: 0.5rem;
}

.destination {
  grid-area: destination;
}
.destination-info {
  grid-area: destination-info;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.destination-info p {
  text-align: center;
  margin-top: 0.5rem;
}
