.analytics {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto auto;
  grid-template-areas:
    "bar pie"
    "bar-info pie-info"
    "cost delay"
    "cost-info delay-info"
    "departure destination"
    "departure-info destination-info";
  gap: 2rem;
  padding: 1rem;
  height: 100vh;
  width: auto;
  overflow-y: auto;
  overflow-x: hidden;
  margin: 0 auto;
  align-items: start;
  font-family: "Nunito Sans", sans-serif;
  box-sizing: border-box;
  max-width: 100%;
  align-items: center;
  justify-content: center;
}
.bar {
  grid-area: flight;
}
.pie {
  grid-area: delay;
  background: var(--bg-light);
}
.cost {
  grid-area: cost;
}
.departure {
  grid-area: departure;
}
.destination {
  grid-area: destination;
}
.analytics p,
.analytics h4 {
  text-align: center;
  margin-top: 0.5rem;
}
