* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: calc(1vw + 2px);
}

.App {
  background-color: #e8e8e8;
  min-height: 100vh;
  max-width: 100%;
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: auto 1fr;
  grid-template-areas:
    "sidebar header"
    "sidebar main-content";
  gap: 1rem;
  padding: 1rem;
}
.App.dark {
  background-color: #1e1e1e;
}

.sidebar {
  grid-area: sidebar;
  background-color: var(--bg-light);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  max-height: calc(100vh);
  overflow-y: auto;
  width: 250px;
}

.header {
  grid-area: header;
  max-width: 65.6em;
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  border-radius: 10px;
  max-height: calc(100vh);
  max-width: calc(100% - 1rem);
}

.main-content {
  grid-area: main-content;
  background-color: var(--bg-light);
  box-shadow: inset 5px 5px 9px #bebebe, inset -5px -5px 9px #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  border-radius: 10px;
  max-height: calc(100vh - 9.6rem);
  max-width: calc(100% - 1rem);
  overflow-y: auto;
}
.dark .main-content {
  background: var(--bg-dark);
  box-shadow: var(--deselected-dark);
  color: var(--text-dark);
}
