.App {
  /*background-color: #f6f8fe;*/
  background-color: #e8e8e8;
  text-align: center;
  display: grid;
  grid-template-rows: 0.4fr 3fr 1fr;
  grid-template-columns: 0.6fr 3fr;
  grid-template-areas:
    "sidebar navbar"
    "sidebar app-header"
    "sidebar app-header";

  gap: 2rem;
  padding: 1rem;
}
.App.dark {
  background-color: #1e1e1e;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #e8e8e8;
  background: #e8e8e8;
  box-shadow: inset 5px 5px 10px #d3d3d3, inset -5px -5px 10px #fdfdfd;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  grid-area: app-header;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.sidebar {
  grid-area: sidebar;
}

.navbar {
  grid-area: navbar;
}
